<h1>Book Details</h1>
<main>
    <div class="formborder">
<form [formGroup]="form">
    <label>Book Name</label>
    <input type="text" formControlName="Book_Name">
    <label>Author</label>
    <input type="text" formControlName="Author">
    <label>Price</label>
    <input type="text" formControlName="Price">
    <label>Genre</label>
    <input type="text" formControlName="Genre">
    <label>Published Date</label>
    <input type="text" formControlName="Published_Date">
    <label>Country</label>
    <input type="text" formControlName="Country">
    <label>Description</label>
    <input type="text" formControlName="Description">
    <div>
    <button type="submit" (click)="submit()">Submit</button>
</div>
</form>
</div>
</main>